@tailwind base;

body {
	@apply bg-white;
	@apply text-gray-800;
	@apply antialiased;
}

a {
	@apply transition duration-200 ease-in-out;
	@apply text-blue-600 hover:text-blue-900;
}

h1,
h2,
h3,
h4 {
	@apply font-bold;
	@apply tracking-tight;
}

main {
	max-width: 600px;
	margin: 30px auto;
	padding: 16px;
}

h1 {
	margin-bottom: 20px;
}

@tailwind components;

@tailwind utilities;
