@tailwind base;

body {
	@apply bg-white;
	@apply text-gray-800;
	@apply antialiased;
}

a {
	@apply transition duration-200 ease-in-out;
	@apply text-blue-600 hover:text-blue-900;
}

h1,
h2,
h3,
h4 {
	@apply font-bold;
	@apply tracking-tight;
}


@tailwind components;

@tailwind utilities;

